form{
    box-shadow: 0 0 5px 0 rgb(204, 214, 225);
    padding: 1rem;
    margin: 2rem;
}
#carouselExampleIndicators {
    max-width: 400px; 
    float: right; 
    margin: 0 20px; 
}


.carousel-inner img {
    width: 100%;
    height: 250px; 
    object-fit: cover; 
}

