<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert title here</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary mr-5" th:fragment="header(title)" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img th:src="@{/images/logo.png}" alt="Logo" width="50" height="50"><span style="margin-left: 3%;">AgenceImmo</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  </nav>
      <h1 class="container" th:text="${title}">Default title</h1>
</body>
</html>