<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert title here</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-primary justify-content-center fixed-top mb-5" th:fragment="header(title)" >
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand" th:href="@{/annonces}"><img th:src="@{/images/logo.png}" alt="Logo" width="50" height="50"><span style="margin-left: 3%;color: white;">AgenceImmo</span></a>


  </nav>
      <h1 class="container" th:text="${title}">Default title</h1>
</body>
</html>